# Ignore everything
*
!.gitignore
!.config/

##############
# Block List #
##############

##############
# Allow List #
##############
!.bashrc
!nixos/
!public/
!README.md
!.tmux.conf
!.config/btop/
!.config/foot/
!.config/hypr/
!.config/nvim/
!.config/Thunar/
!.config/waybar/
!.config/waypaper/
!.config/wofi/
!.config/yazi/
!.config/starship.toml
!.config/alacritty/alacritty.toml
